# production
NODE_ENV=dev
# Đã thêm directConnection để trị bệnh Replica Set 1 node
# ?replicaSet=rs0&directConnection=true
MONGODB_URI= 

# Đồng bộ IP và nối thẳng vào Replica Set giống hệt URI chính
MONGODB_MIGRATE_URI=

# Đồng bộ tên Database để không bị ghi nhầm chỗ
MONGODB_DB_NAME=


SECRET_COOKIE=
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
EXPIRED_ACCESS_TOKEN=1d

CLIENT_ORIGIN=